{% set nodes = model.nodes -%}

{% for node in nodes %}

{% set list = cyphering_fmt_list(node.alias.lower(), node.attr.expanded_key) %}
{% if list %}
CREATE CONSTRAINT {{ node.alias.lower() }}_key IF NOT EXISTS FOR ({{ node.alias.lower() }}:{{ node.label }}) REQUIRE ({{ list }}) IS NODE KEY;
{% endif %}

{% set list = node.expanded_constraint %}
{% if list %}
CREATE CONSTRAINT {{ node.alias.lower() }}_constraint IF NOT EXIST FOR ({{ node.alias.lower() }}:{{ node.label }})
    {%- for constraint in list %}
    {{ constraint }}{{ " AND" if not loop.last else ";" }}
    {%- endfor %}
{% endif %}

{% endfor %}