{% set nodes = model.nodes -%}
{% for node in nodes %}
{% set list = cyphering_fmt_list('n', node.expanded_index) %}
{% if list %}
CREATE INDEX node_{{ node.alias.lower() }}_index IF NOT EXISTS FOR (n:{{ node.label }}) ON ({{ list }});
{% endif %}
{% endfor %}