UNWIND $entries AS entry

{% set nodes = model.nodes -%}
{% set nodes_match = cyphering_get_match(nodes) -%}
{% set nodes_create = cyphering_get_create(nodes) -%}
{% set nodes_merge = cyphering_get_merge(nodes) -%}

{# match #}
{% if nodes_match %}
// match

{% for node in nodes_match %}
MATCH (
    {{ node.alias }}: {{ node.label }} {
        {%- for key, val in node.attr.expanded_key.items() %}
        {{ key }}: {{ val }}{{ "," if not loop.last else "" }}
        {%- endfor %}
    }
)
{% endfor %}
{% endif %}

{# match #}
{% if nodes_create %}
// create

{% for node in nodes_create %}
{%- set properties_create = cyphering_join_dicts(node.attr.expanded_on_create, node.attr.expanded_on_update) %}

CREATE (
    {{ node.alias }}: {{ node.label }} {
        {%- for key, val in node.attr.expanded_key.items() %}
        {{ key }}: {{ val }}{{ "," if not loop.last else "" }}
        {%- endfor %}
    }
)
{%- if properties_create %}
SET
    {%- for key, val in properties_create.items() %}
    {{ node.alias }}.{{ key }} = {{ val }}{{ "," if not loop.last else "" }}
    {%- endfor %}
{%- endif %}

{% endfor %}
{% endif %}

{# merge #}
{% if nodes_merge %}
// merge

{% for node in nodes_merge %}
{%- set properties_create = cyphering_join_dicts(node.attr.expanded_on_create, node.attr.expanded_on_update) %}
{%- set properties_update = node.attr.expanded_on_update %}

MERGE (
    {{ node.alias }}: {{ node.label }} {
        {%- for key, val in node.attr.expanded_key.items() %}
        {{ key }}: {{ val }}{{ "," if not loop.last else "" }}
        {%- endfor %}
    }
)
{%- if properties_create %}
ON CREATE SET
    {%- for key, val in properties_create.items() %}
    {{ node.alias }}.{{ key }} = {{ val }}{{ "," if not loop.last else "" }}
    {%- endfor %}
{%- endif %}
{%- if properties_update %}
ON MATCH SET
    {%- for key, val in properties_update.items() %}
    {{ node.alias }}.{{ key }} = {{ val }}{{ "," if not loop.last else "" }}
    {%- endfor %}
{%- endif %}

{% endfor %}
{% endif %}